* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 1080px;
  background: #fff;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  font-family: -apple-system, Helvetica, sans-serif;
}

.app {
  height: 45px;
  background: #333;
  color: #fff;
  line-height: 45px;
  text-align: center;
}

.app ul li {
  float: left;
  height: 45px;
}

.app ul li:nth-child(1) {
  width: 8%;
}

.app ul li:nth-child(1) img {
  width: 10px;
}

.app ul li:nth-child(2) {
  width: 10%;
}

.app ul li:nth-child(2) img {
  width: 30px;
  vertical-align: middle;
}

.app ul li:nth-child(3) {
  width: 57%;
}

.app ul li:nth-child(4) {
  width: 25%;
  background: #f63515;
}

/* 搜索 */
.search_wrap {
  position: fixed;
  width: 100%;
  max-width: 1080px;
  min-width: 320px;
  height: 44px;
  background: rgb(200, 37, 25);
  overflow: hidden;
}

.search_btn {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 14px;
  margin-left: 15px;
  width: 40px;
  height: 44px;
  background: url("../images/menu_icon.png") no-repeat;
  background-size: 20px 18px;
}

.search {
  position: relative;
  margin: 0 50px;
  margin-top: 5px;
  border-radius: 15px;
  height: 30px;
  background: #fff;
}

.jd_icon {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 20px;
  height: 15px;
  background: url("../images/search_jd_logo.png");
  background-size: 20px 15px;
}

.jd_icon::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -7px;
  width: 1px;
  height: 16px;
  background: #ccc;
}

.sou {
  content: "";
  position: absolute;
  left: 48px;
  top: 8px;
  display: block;
  width: 18px;
  height: 15px;
  background: url("../images/jd-sprites.png") -80px 0px no-repeat;
  background-size: 200px auto;
}

.search_login {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 14px;
  color: #fff;
}
/* main_content */
.main_content .slide img {
  width: 100%;
}
