* {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
}

body {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1080px;
    background: #fff;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    font-family: -apple-system, Helvetica, sans-serif;
}

.app {
    height: 45px;
    background: #333;
    color: #fff;
    line-height: 45px;
    text-align: center;
}

.app ul li {
    float: left;
    height: 45px;
}

.app ul li:nth-child(1) {
    width: 8%;
}

.app ul li:nth-child(1) img {
    width: 10px;
}

.app ul li:nth-child(2) {
    width: 10%;
}

.app ul li:nth-child(2) img {
    width: 30px;
    vertical-align: middle;
}

.app ul li:nth-child(3) {
    width: 57%;
}

.app ul li:nth-child(4) {
    width: 25%;
    background-color: #F63515;
}